img,
embed,
object,
video {
  max-width: 100%;
}

header {
  padding-top: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#logo {
  width: 100%;
  text-align: center;
}

#intro {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#logopic {
  padding: 10px;
  margin: auto;
}

#name {
  font-family: "Advent Pro", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #1b5a90;
  line-height: 1.2em;
}

#company,
#title {
  font-family: "Advent Pro", sans-serif;
  line-height: 1.2em;
  color: #569fde;
}

#dividerline {
  width: 100%;
  padding: 0px 0px 0px;
}

#topline {
  border-top: 5px solid #1b5a90;
}

#bannerpic {
  width: 100%;
  padding: 0px 0px 0px;
}

#description {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1b5a90;
  margin: 15px 10px 10px;
}

#work {
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  color: #569fde;
  line-height: 1.2em;
}

.col-md-4 {
  margin-top: 20px;
}

.app {
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  width: 100%;
  vertical-align: middle;
  color: #1b5a90;
}

.apptitle {
  margin-top: 10px;
  line-height: 1.2em;
}
